ul#tngnav {
	margin:0 0px 0px 10px;
}

#tngnav li {
	margin: 0 0 0 1px;
}

/*inactive tab*/
#tngnav a {
	color:#444;
	background:#FCF0DC;
	padding: 0.4em 1em 0.3em 8px;
	border-right: 1px solid #444;
	-moz-border-radius: 4px 4px 0px 0px;
	-webkit-border-radius: 4px 4px 0px 0px;
	border-radius: 4px 4px 0px 0px;
}

/*active tab*/
#tngnav a:hover {
	background:#993333;
	color:#FFFFFF;
}

/*active tab*/
#tngnav a.here {
	background:#993333;
	color:#FFCC00;
	border-right: 1px solid #444;
	margin: 0;
}

/*to keep older browsers happy*/
#tabs div {
	margin:0 1px 0 0;
	padding: 0em 0em .3em 0px;
}

/*inactive tab*/
#tabs a {
	background: #FCF0DC;
	color:#444;
	padding: 0.2em 0.8em 0.5em 0.8em;
	border-right: 1px solid #aaa;
}

/*active tab*/
#tabs a:hover {
	background: #993333;
	color:#FFFFFF;
}

/*active tab*/
#tabs .here {
	background: #993333;
	color:#FFCC00;
}
