body {
  background: none;
}

#mast {
  background-color: #9F5392;
  background-image: -moz-linear-gradient(to bottom, #B366A5 0%, #8A407D 100%);
  background-image: -webkit-linear-gradient(to bottom, #B366A5 0%, #8A407D 100%);
  background-image: linear-gradient(to bottom, #B366A5 0%, #8A407D 100%);
  border-top: 1px solid #CA81BE;
}

.mhead ul li {
  color: #FFFFFF;
}

.mhead li a {
  background-color: #C6E2C0;
  border-bottom: 1px solid #6D9663;
  border-top: 1px solid #EEFAEC;
  text-shadow: white 1px 1px 1px;
  color: #000000;
}