#mast {
  background: #660002;
  background-image: url(../img/fieldbg.jpg);
  border-top: 1px solid #A33333;
}

.mhead ul li {
  color: #FFFFFF;
}

.mhead li a {
  background-color: #D5BF90;
  border-bottom: 1px solid #948055;
  border-top: 1px solid #F2E6CC;
  text-shadow: white 1px 1px 0px;
  color: black;
}